:root {
     --font-color:gainsboro;
    --bg-color: black;
 }
html {
    box-sizing: border-box;
    background-color:black;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    padding: 1rem;
}

.quiz,
.choices {
    list-style-type: none;
    padding: 0;
}

.choices li {
    margin-bottom: 5px;
}

.choices label {
    display: inline-block;
    width: 40%;
    height: 10%;
    align-items: center;
}

.choices label,
input[type="radio"] {
    cursor: pointer;
    text-align: left
}

input[type="radio"] {
    margin-right: 8px;
}

h4 {
    color: var(--font-color);
    text-align: center;
}

.quiz {
    text-align: center;
}

.view-results {
    padding: 1rem;
    cursor: pointer;
    font-size: inherit;
    color: var(--font-color);
    background: teal;
    width: fit-content;
    position: relative;
    left:30%;
}



.view-results:hover {
    background-color: red;
}

.quizsect {
    display: grid;

}
.my-results{
    position: relative;
    left: 53%;
}
.my-results,
label {
    padding: 1rem;
    border: 1px solid rgb(35, 32, 218);
    background-color: teal;
    width: fit-content;
    
}
label:hover {
    background-color:rgba(0, 128, 128, 0.534);
}
li input{
    background-color: var(--bg-color);
    color: var(--font-color);
    font-size: large;
    border-radius: 8px;
    border-color: rgb(130, 177, 238);
}